$primary-color: #FFC60B;
$light-yellow: #ffeaa5;
$light-yellow-1: #fff4d0;

$font-size: 16px;
$font-small: 12px;

$white: #FFFFFF;
$black: #000000;
$black-shade-1: #181818;
$black-shade-2: #565656;
$black-shade-3: #9F9F9F;

$dark-brown: #4F200D;
$light-brown: #744F40;

$red: #e2445c;
$light-red: #ffb9b9;

$green: #00bf70;

$light-gray: #f3f3f3;